<h1>Hello Directive</h1>

<form name="userForm" class="ng-pristine ng-valid ng-valid-md-maxlength">

  <div layout-sm="column" layout="">

    <md-button class="md-raised animated infinite" ng-class="hello.classAnimation" ng-click="vm.sayHello()">Say
      hello to
    </md-button>

    <md-input-container flex="" class="md-default-theme">
      <label for="input_49">say hello to</label>
      <input ng-model="vm.helloTo" class="ng-pristine ng-untouched ng-valid md-input" id="input_49" tabindex="0"
             aria-invalid="false">
    </md-input-container>
  </div>

</form>


<md-list role="list" class="md-default-theme">

  <h2 class="md-no-sticky md-subheader md-default-theme">
    <div class="md-subheader-inner">
      <span class="md-subheader-content">You said hello to:</span>
    </div>
  </h2>

  <md-list-item ng-repeat="helloSaid in vm.hellos" class="md-3-line md-no-proxy ng-scope" role="listitem">
    <div class="md-list-item-text">
      <h3 class="ng-binding">Hello to {{helloSaid.to}}</h3>
    </div>
  </md-list-item>

</md-list>
